header{
background-image: url(girl-8351533_1280.jpg);
width: ;
display: flex;
justify-content: space-between;
align-items: center;
padding: 40px;
background-position: center;
background-attachment: fixed;
font-size: 30px;
color:#29ffc9;
}
.div-01-header img {

width: 120px;
background-color: #29ffc9;
}

.section-01{
 background-color: #88d3ab;
display: flex;
justify-content: center;

}

.section-1-1 {
background-color:  #88d3ab;
display: flex;
justify-content: center;
align-items: center;
}

.section-1-1 button:hover {


background-color: #71cbc4;
box-shadow: 5px 5px 10px;
transition: 0.8s;
}

.section-02 {

display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
}





.div-01-section-01{
 background-color: #88d3ab;
width:500px ;
height: 50px; ;
}

.section-03 {
display: flex;
justify-content: center;
align-items: center;
gap:55px;
}

.div-01-section-03 {
    background-image: url(plum-3585228_1280.jpg);
    padding: 5px;
    width: 350px;
    height: 450px;
    display: flex;
    justify-content: center;
gap: 5px;
align-items: center;
}

.div-02-section-03 {
background-image: url(flowers-1374297_1280.jpg);  
width: 350px; 
height: 460px; 
display: flex;
align-items: center;
justify-content: center;
}

.div-03-section-03 {
background-image: url(cactus-5203831_1280.jpg);
width: 350px; 
height: 460px; 
display: flex;
align-items: center;
justify-content: center;
}

.div-00-section-04 {
 background-image: url(kauri-76_1280.jpg); 
 width: 350px; 
height: 400px; 
display: flex;
align-items: center;
justify-content: center;
background-repeat: no-repeat;  
background-position: center;
background-size: cover;
}



.section-03 h3 {
    font-size: 50px;
}

.section-04 {

display: flex;    
justify-content: center;
align-items: center;
gap: 55px;
}

.section-04 h3 {

    font-size: 40px;
} 




.div-01-section-04 {


background-image: url(gardens-mexico-2073360_1280.jpg);
width: 350px; 
height: 400px; 
display: flex;
align-items: center;
justify-content: center;
background-repeat: no-repeat;  
background-position: center;
background-size: cover;
font-size: 50px;
}

.div-02-section-04 {

background-image: url(pexels-teona-swift-6913399.jpg);
width: 350px; 
height: 400px; 
display: flex;
align-items: center;
justify-content: center;
background-repeat: no-repeat;  
background-position: center;
background-size: cover;
font-size: 50px;
}

.section-05 {

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.inp-cdt-section-05 {

background-color: #88d3ab;



}

.div-02-section-05{

display: flex;
flex-direction: column;
}


.span-01 {

text-transform: uppercase;
background-color: #29ffc9;
font-size: 20px;
}


footer {
background-color:black;
color:white;
display: flex;
justify-content: center;
gap: 55px;
align-items: center;

}

.div-01-footer {

display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}


