.section-01 {
background-image:url(park-3714830_1280.jpg);
padding: 50px;
background-position: center;
background-repeat: no-repeat;
display: flex;
justify-content: center;
align-items: center;
font-size: 50px;
color: white;
background-size: cover;
flex-direction: column;
}

.div-02-section-01 button {
font-size: 18px;
width: 70px;
background-color:  rgba(128, 128, 128, 0.411);
padding: 5px;
 border-radius: 10px;
}

.div-02-section-01 button:hover{
  background-color:chartreuse ;
 transition: 0.8s;

}



.section-03 {
display: flex;
justify-content: space-between;
align-items: center;
gap: 5px;
}

.section-03 img {
padding: 5px;
width:400px ;
height: 400px;
}

.section-03 div {
  display: flex;
flex-direction: column;
align-items: center;

}

.section-003 {
display: flex;
justify-content: space-between;
align-items: center;
gap: 5px;
}

.section-003 img {
  padding: 5px;
width:400px ;
height: 400px;
}

.section-003 div {
   display: flex;
flex-direction: column;
align-items: center;
}


.section-02 h3 {

display: flex;
text-align: center;
justify-content: center;
font-size: 40px;
}

.section-04 h2 {
display: flex;
text-align: center;
justify-content: center;
font-size: 40px;
}

.section-05 {
 display: flex;  
justify-content: space-between;
align-items: center;
}

.section-05 img {
padding: 5px;
width:400px ;
height: 400px;
}

.section-05 div {
  display: flex;
flex-direction: column;
align-items: center;
}

.section-06 {
display: flex;  
justify-content: space-between;
align-items: center;
}

.section-06 img {
padding: 5px;
width:400px ;
height: 400px;
}

.section-06 div {
  display: flex;
flex-direction: column;
align-items: center;
}

.section-07 h2 {
display: flex;
text-align: center;
justify-content: center;
font-size: 40px;
}

.section-08 {
display: flex;  
justify-content: space-between;
align-items: center;
}

.section-08 img {
padding: 5px;
width:400px ;
height: 400px;
}

.section-08 div {
  display: flex;
flex-direction: column;
align-items: center;
}

.section-09 {
 display: flex;  
justify-content: space-between;
align-items: center; 
}

.section-09 img {
padding: 5px;
width:400px ;
height: 400px;
}

.section-09 div {
  display: flex;
flex-direction: column;
align-items: center;
}

.section-10 {

background-image: url(pathway-2289978_1280.jpg);
padding: 200px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center

}
.section-10 button {

padding:px ;
width:300px ;
height:50px ;
border-radius:10px ;
background-color: rgba(128, 128, 128, 0.411) ;
font-size: 30px;
}
.section-10 button:hover {
background-color:chartreuse ;
 transition: 0.8s;
}

.section-11 {
background-color:#8afd9f ;
padding: 30px;
display: flex;
align-items: center;
justify-content: space-evenly;
gap: 10px;

}

.div-00-section-11 {
font-size: 90px;
padding: 10px;
}

.div-00-section-11 i:hover{

  color:chartreuse;
  transition: 0,8s;

}

.div-01-section-11 {
display: flex;
flex-direction: column;
gap: 10px;
padding: 5px;
}

.div-02-section-11 {

  display: flex;
  flex-direction: column;
  gap: 10px;
padding: 5px;
font-size: 20px;
}
.div-03-section-11 {
display: flex;
flex-direction: column;
gap: 10px;
padding: 5px;
font-size: 20px;
}